.divEditUser {
  margin-bottom: 1px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 35%;
  background-color: rgb(98, 98, 98);
  padding: 10px;
  padding-bottom: 2px;
  border-radius: 30px;
  height: 50%;
}

.divEditUser div {
  margin: 12px;
  font-size: 15px;
}


.divImage {
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px;
}

.img {
  margin: auto;
}

button {
  background: none;
  border: 1px solid #b2b2b2;
  font-weight: bold;
  font-size: 19px;
  width: 6em;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(#2dffb3, rgb(1, 47, 24));
  color: black;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  border: 1px solid black;
}

.divButton {
  display: flex;
  justify-content: center;
}

.inputText {
  width: 330px;
  height: 15px;
  border-radius: 20px;
  padding: 15px;
  font-size: 15px;
}
