/* .productsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  width: 40%;
  margin-left: 10px;
  color: white;
} */

/*header new order*/
.header-newOrder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 1rem;
}

/*container button*/
.container-btnMenu{
  border-bottom: 1px solid #ffffff1c;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Cart*/
.header-cart{
  display: grid;
  grid-row-gap: 1rem;
  text-align: center;
}

.cart-button{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
}

.header-list{
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-column-gap: 0.5rem;
}
.body-cart{
  max-height: calc(100vh - 14rem);
  /* background: bisque; */
  content-visibility: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-row-gap: 1rem;
}
.comment{
  grid-column: 1 / 4;
}

/*footer cart*/
.footer-Cart{
  margin-top: 0.5rem;
  border-top: 0.06rem solid #ffffff1c;
  padding-top: 1rem;
  display: grid;
  grid-row-gap: 1rem;
}

.totalPrice{
  display:flex;
  justify-content:space-between
}

.containerProductsOrders {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  min-height: 100vh;
  background-image: url('../img/back.jpg');
  background-size: cover;
}

.containerProductsOrders h5,h6,h1 ,h3,h4{
  color: white;
}


.inputClient{
  display: flex;
  flex-direction: row;
}

.inputClient input{
  margin-left: 0.3rem;
  background: none;
  border-bottom: 1px dotted #ffffff54;
  width: 100%;
}

.inputClient input:focus{
  background: white
}

/* .containerProductsOrders input {
  border-radius: 20px;
  height: 30px;
  padding: 10px;
} */

.containerProdutsDiv {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  color: white;
}
.containerProdutsDiv h5 {
  
  color: white;
}

.containerProduts{
  
  margin-bottom: 50px;
}
.imgDiv {
  width: 100%;
}

/* .inputSearch {
  border-radius: 50px;
   width: 30%;
} */

/* .inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-left: 50px;
  height: 50px;
} */

/* .inputDiv input {
background: white;
margin: none;
} */
/* .inputDiv h5 {
  color: white;
  } */
.btnProductsDiv {
  width: 100%;
}
.btnDiv{
  display: flex;
  color: aliceblue;
  justify-content: center;
  
}
.btnDiv button{
  color: white;
  /* width: 150px; */
}

/* 
@media (min-width: 1170px){
  .productsDiv {
    width: 40px;
  }
} */
.productCart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnQty{
  display: flex;
  flex-direction: row;
}
.btnQty button{
 width: 50px;
 height: 50px;
}
.btnQty h4{
  margin: 10px;
 }

.btn-next-prev{
  display: flex;
  justify-content: end;
  padding: 0 1rem;
  grid-gap: 1rem;
}

@media (min-width: 760px){

  .productsDiv {
    width: 600px;
  }
}