@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size:100%;
  scroll-behavior: smooth;
  /* scroll-padding-top: 8rem; */
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width:0.625rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 3.125rem;
}

body {
  background: url(../../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  overflow-y:hidden;
}

section {
  padding: 5rem 9% 0;
}

.heading {
  text-align: center;
  margin-bottom: 1.875rem;
}

.heading h3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top:0.625rem;
}

.btn {
  display: inline-block;
  margin-top:0.625rem;
  cursor: pointer;
  color: #fff;
  border: 0.125rem solid rgb(145 125 37);
  background: no-repeat;
  font-size: 1.06rem;
  padding:0.625rem 1.875rem;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000;
  padding: 1.2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap:0.625rem;
}

.header .icons {
  font-size: 1.56rem;
  cursor: pointer;
  color: #fff;
}

.header .icons:hover {
  color: #eacf4f;
}

.header #menu-btn {
  display: none;
}

.header .navbar a {
  color: #fff;
  font-size: 1.25rem;
  margin: 0 1.25rem;
}

.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset:0.625rem;
  color: #eacf4f;
}

.header .navbar .space {
  display: inline-block;
  width: 10rem;
}

.header .logo {
  position: absolute;
  top: 1.1rem;
  left: 50.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .logo img {
  width: 9.375rem;
}

.header .search-form {
  height: 4.375rem;
  padding: 0 1.25rem;
  border-top: 0.125rem solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1rem;
  color: #fff;
}


.header a p {
  font-size:10px;
}

.home {
      /* margin-top: 5rem; */
    background: url(../../img/fondo-content.gif) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content {
  display: flex;
  align-items: center;
  max-width: 45rem;
  text-align: center;
  /* margin: 4% auto; */
  flex-direction: column;
}

.home .content img {
  width: 50%;
}

.home .content h3 {
  font-size: 3.125rem;
  text-transform: uppercase;
  color: #E4CB56;
}

.home .content p {
  font-size: 1.062rem;
  line-height: 2;
  color: rgb(255, 255, 255);
  padding: 1.25rem 0;
}

.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19.375rem, 1fr));
  gap: 1.25rem;
}

.service .box {
  text-align: center;
  padding: 1.25rem;
}

.service .box i {
  height: 4.375rem;
  width: 4.375rem;
  line-height: 4.375rem;
  font-size: 1.562rem;
  color: #000;
  background: #eacf4f;
  margin-bottom:0.625rem;
  border-radius: 50%;
}

.service .box h3 {
  padding:0.625rem 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
}

.service .box p {
  font-size: 0.937rem;
  line-height: 2;
  color: #aaa;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19.375rem, 1fr));
  gap: 1.25rem;
}

.menu .box-container .box {
  text-align: center;
}

.menu .box-container .box:hover img {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.menu .box-container .box img {
  height:15.625rem;
}

.menu .box-container .box .content {
  padding:0.625rem 0;
}

.menu .box-container .box .content .stars {
  margin-bottom: 1.25rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.062rem;
  color: #eacf4f;
}

.menu .box-container .box .content h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
}

.menu .box-container .box .content .price {
  font-size: 1.25rem;
  line-height: 2;
  color: #aaa;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex:  1 1 25rem;
          flex:  1 1 25rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex:  1 1 25rem;
          flex:  1 1 25rem;
}

.about .content .title {
  font-size: 1.562rem;
  text-transform: uppercase;
  color: #fff;
}

.about .content p {
  font-size: 0.937rem;
  line-height: 2;
  color: #aaa;
  padding: 1.25rem 0;
}

.about .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.937rem;
  margin-bottom: 1.25rem;
  margin-top:0.625rem;
}

.about .content .icons h3 {
  -webkit-box-flex: 1;
      -ms-flex:  1 1 10rem;
          flex:  1 1 10rem;
  font-size: 0.937rem;
  text-transform: uppercase;
  color: #fff;
}

.about .content .icons h3 i {
  padding-right: .31rem;
  color: #eacf4f;
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19.375rem, 1fr));
  gap: 1.25rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 1.25rem;
}

.reviews .box-container .box img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  margin-bottom:0.625rem;
}

.reviews .box-container .box h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
}

.reviews .box-container .box p {
  font-size: 1.076rem;
  line-height: 2;
  color: #aaa;
  padding:0.625rem 0;
}

.reviews .box-container .box .stars {
  padding-top: .31rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.062rem;
  color: #eacf4f;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

/* .contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex:  1 1 25rem;
          flex:  1 1 25rem;
  width: 100%;
} */

.contact .row .form {
  -webkit-box-flex: 0.625;
      -ms-flex:  1 1 25rem;
          flex:  1 1 25rem;
}

.contact .row .form .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

.contact .row .form .icons-container .icons {
  -webkit-box-flex: 1;
      -ms-flex:  1 1 1.06rem;
          flex:  1 1 1.06rem;
  text-align: center;
}

.contact .row .form .icons-container .icons i {
  height: 3.75rem;
  width: 3.75rem;
  line-height: 3.75rem;
  border-radius: 50%;
  background: #eacf4f;
  color: #000;
  font-size: 1.25rem;
  margin-bottom:0.625rem;
}

.contact .row .form .icons-container .icons h3 {
  padding:0.625rem 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
}

.contact .row .form .icons-container .icons p {
  font-size: 0.937rem;
  line-height: 2;
  color: #aaa;
}

.contact .row .form form {
  text-align: center;
}

.contact .row .form form .box {
  padding: 0.75rem 1.076rem;
  font-size: 1rem;
  color: #fff;
  background: none;
  border: 0.125rem solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  width: 100%;
  margin: .437rem 0;
}

.contact .row .form form .box:focus {
  border-color: #eacf4f;
}

.contact .row .form form textarea {
  height: 9.375rem;
  resize: none;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19.375rem, 1fr));
  gap: 1.25rem;
}

.blogs .box-container .box {
  position: relative;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.blogs .box-container .box .image {
  height:15.625rem;
  overflow: hidden;
  position: relative;
}

.blogs .box-container .box .image .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.blogs .box-container .box .image .icons a {
  font-size: 0.937rem;
  color: #fff;
}

.blogs .box-container .box .image .icons a i {
  padding-right: .312rem;
  color: #eacf4f;
}

.blogs .box-container .box .image .icons a:hover {
  color: #eacf4f;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  text-align: center;
  padding: 1.25rem;
}

.blogs .box-container .box .content h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
}

.blogs .box-container .box .content p {
  font-size: 0.937rem;
  line-height: 2;
  color: #aaa;
  padding: 0.93rem 0;
}

.footer {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(transparent, #000);
}

.footer .links a {
  margin:0.625rem;
}

.footer .credit {
  font-size: 1.25rem;
  line-height: 2;
  color: #aaa;
  padding-top: 1.25rem;
}

.footer .credit span {
  color: #eacf4f;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.875rem;
  }
  section {
    padding: 1.875rem 1.25rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 99.2%;
  }
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1.25rem;
  }
  .header .logo {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 1.875rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 1.875rem 1.25rem;
  }
  .header .navbar .space {
    display: none;
  }
}

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 1.562rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 87.5%;
  }
}
